@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "Geist Mono", sans-serif;
}

@layer base {
    button,
    [role='button'],
    a {
        cursor: pointer;
    }
}

html {
    color-scheme: light dark;
}

html.dark {
    color-scheme: dark;
}

html.light {
    color-scheme: light;
}