@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --font-sans: "Inter", sans-serif;
}

html {
    color-scheme: light dark;
}

html.dark {
    color-scheme: dark;
}

html.light {
    color-scheme: light;
}